.gou_contact{
    display: flex;
    background-color: var(--White);
    padding: 12rem 2rem;

}

.gou_contact .left{
    border-radius: 10px;

    width: 30vw;
    margin: 1rem;
    padding: 2rem 2rem 1rem 1rem;
    background:var(--Blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

.gou_contact .right{

  border-radius: 10px;
    max-width: 2000px;
    background-color: var(--Black);
    margin: 1rem;
    padding: 2rem 2rem ;
}



.gou_contact .left h2{
    color:var(--White);
    margin-bottom: 0.5rem;
    line-height: 2rem;
}
.gou_contact .left p{
    color: var(--White);
}
.gou_contact .left h1{
  color: var(--White);
  display: flex;
  align-items: center;
}




 /* Style inputs, select elements and textareas */
 input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--Black);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    color: var(--Black);
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: var(--White);
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: var(--Blue);
    color: var(--White);
    margin-top: 0.5rem;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input:hover,
  input:focus{
    color: var(--Blue);
    background-color: var(--White);
  }

  /* Floating column for labels: 25% width */
  .col-25 {

    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .gou_contact {
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;
    }
    .gou_contact .left{
        width: 100%;
        padding: 1rem;
        margin: 1rem;
        margin-bottom: 0.6rem;
        flex-direction: row;
    }
    .gou_contact .right{
        width: 100%;
        padding: 1rem;
        margin: 1rem;
        margin-top: 0.6rem;
    }
    input[type=submit] {
        margin-bottom: 1rem;
    }
  } 