.gou_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10vw 2rem;
    position: sticky top;

}

.gou_header p{
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 5rem;
}

.gou_header .menu{
    display: flex;
    flex-direction: row;
    gap: 6vw;
    
}

.gou_header .menu a,
.gou_header .menu a:visited{
    font-size: 0.8rem;
    text-decoration: none;

    border-radius: 15px ;
    padding: 0 2rem;
    transition: 0.4s;
}
.gou_header .menu a:hover,
.gou_header .menu a:focus{

color:  rgb(41, 117, 198)

}


/* for phone */
@media screen {
    
}