.gou_title{
    text-align: center;
    padding: 2rem;
    min-height: 70vh;
    margin-bottom: 5rem;

}

.gou_title h1{
    font-size: 8rem;
    padding: 1rem 4rem 0;
    line-height: 9rem;
    font-weight: 600;
}

.gou_title h2{
    font-size: 1.2rem;
    padding: 0 4rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

.gou_title a,
.gou_title a:visited{
    border: 2px solid var(--White);
    padding: 1rem 4rem;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.6s;
}

.gou_title a:focus,
.gou_title a:hover{
    color: var(--White);
    background-color: var(--Blue);
    border: 1px solid var(--Black);
    padding: 1rem 6rem;
}

@media screen and (max-width: 680px) {
    .gou_title h1{
        margin: auto;
        margin-top: 4rem;
        padding: 0px;
        
        line-height: 20vmin;
        font-size: calc(12px + 16vmin);  
    }
    .gou_title h2{
        margin: auto;
        margin-bottom: 4rem;
        margin-top: 1rem;
        padding: 0px;

        line-height: 5vmin;
        font-size: calc(8px + 2vmin);
    }
    .gou_title a{
        font-size: calc(8px + 1.2vmin);
    }

    .gou_title{
        text-align: center;
        padding: 0rem;
        margin:0rem;
        height: 100vw;
        min-height: 32rem ;
        
    }
}
