.services {
  max-width: 800px;
  margin: 0px auto 150px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

.services h2 {
  text-align: center;
  color: var(--White);
  margin-bottom: 2rem;
  width: 100%; /* Ensure full width for proper centering */
}

.service-list {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Ensure full width for proper centering */
}

.service-list li {
  max-width: 800px;
  width: 100%; 
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1rem;

}

.service-list h3 {
  color: var(--Blue);
  margin-top: 0;
  text-align: center; /* Center the heading */
}

.service-list p {
  color: var(--White);
  margin-bottom: 0;
  text-align: center; /* Center the paragraph text */
}