.gou_services{

    background-color: white;
    padding: 14rem 8rem;
}

.gou_services ul{
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
}

.gou_services p{
    color: black;
}

.gou_services li{
    color: black;
}