.gou_intro{
    animation: SlowIn 3s linear;
    text-align: center;
    padding: 1rem;
    background: rgb(41, 117, 198);
    margin-top: -4rem;
    margin-bottom: 0rem;
}

.gou_intro h2{
    animation: SlowIn2 3s linear;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;

}

  
  @keyframes SlowIn {

    0% {
        margin-top: 0rem ;
        margin-bottom: -4rem;
        }

    85% {
        margin-top: 0rem ;
        margin-bottom: -4rem;
        }

    100% {
        margin-top: -4rem ;
        margin-bottom: 0rem;
        }
  }

  @keyframes SlowIn2 {

    0% {
        opacity: 0;
        }

    85% {
        opacity: 0;
        }

    100% {
        opacity: 1;
        }
  }