.services {
  max-width: 1000px;
  margin: 0 auto 150px;
  padding: 2rem
}

.services h2 {
  text-align: center;
  color: var(--White);
  margin-bottom: 2rem
}

.service-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.service-card {
  flex: 1;
  background-color: rgba(14, 14, 14);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.service-card h3 {
  color: var(--White);
  margin-bottom: 15px;
}

.service-card p {
  color: var(--Blue);
  margin-bottom: 0
}

@media (max-width: 850px) {
  .service-list {
    flex-direction: column;
  }
  
  .service-card {
    width: 100%;
  }
}
